body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    position: absolute;
    top: 110px;
    left: 605px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    position: absolute;
    top: 170px;
    left: 575px;
}

.description {
    text-decoration: underline;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    height: 615px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    left: 880px;
}

.bottom-cloud {
    position: absolute;
    top: 250px;
    left:280px;
}

.mountain {
    position: absolute;
    top: 230px;
    left: 370px;
}

.middle-container {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    background-color: red;
}

.bottom-container {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: blue;
}
